priority 75

snippet ei "export interface" w
export interface
endsnippet

snippet imt "import type" w
import type { ${2} } from "${1}"
endsnippet

snippet edf "export default function" w
export default function ${1}(${2}) {
  return ${3:null}
}
endsnippet
